* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FFFFFF;
    vertical-align: top;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#container {
    color: #172747;
    min-height: 100vh;
    display: flex;
    grid-column: auto;
    justify-items: center;
    align-items: center;
}

.formBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CAD2FF;
    border-radius: 10px;
    box-shadow: rgba(132, 146, 158, 0.5) 1px 1px 4px 4px;
    text-align: center;
    width: 350px;
    height: 600px;
}

@media screen and (max-width: 768px){
    body{
        justify-content: center;
        align-content: center;
    }

    #container {
        min-height: none;
        margin: 0 auto;
        border-radius: 5%;
    }

    .formBox {
        text-align: center;
        background: #CAD2FF;
        width: 100%;
        height: 100%;

    }
}