* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%23CAD2FF'/%3E%3Cstop offset='1' stop-color='%23172747'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23FAB500'/%3E%3Cstop offset='1' stop-color='%238194F3'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    vertical-align: top;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#container {
    color: #172747;
    min-height: 100vh;
    display: grid;
    grid-column: auto;
    justify-items: center;
    align-items: center;
}



.logo{
    margin-top: 5%;


}

.formBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CAD2FF;
    border-radius: 10px;
    box-shadow: rgba(132, 146, 158, 0.5) 1px 1px 4px 4px;
    text-align: center;
    width: 350px;
    height: 630px;
}

.formBox2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CAD2FF;
    box-shadow: rgba(132, 146, 158, 0.5) 1px 1px 4px 4px;
    text-align: center;
    width: 600px;
    height: 1000px;
}


.form-button{
    background-color: #FAB500;
    border-color: transparent;
    border-radius: 18px;
    text-align: center;
    margin-top: 10%;
    width: 230px;
    height: 43px;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    color:#172747;
   
}

#email,
#password{
    padding-left: 10px;
    border: 100rem;
    border-radius: 18px;
    outline: none;
    text-align: left;
    margin-top: 10%;
    width: 230px;
    height: 43px;
    font-size: 15px;
    font-weight: regular;
    color:#172747
  
}

texto{
    margin: 10px;
    font-size: medium;
}

h3{
    margin: 30px;
    font-size: large;
}

.btnGmail{
   background-color: transparent;
   border-color: transparent;
   margin-top: 5px;
}

#logout {
    background: transparent;
    height: 50px;
    letter-spacing: 1px;
    border-style: none;
    color: #172747;
    width: 100px;
    border-radius: 25px;
    align-self: center;
    font-size: 15px;
    display: inline-block;
    margin: 0 25px;
}

#logout:hover{
    background: #FAB500;
}

.navPost {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 0 25px;
    width: 600px;
    
}

.postContainer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px;
}

#commentText {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}


#task-comment {
    width: 500px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.72);
    border-radius: 8px;
    padding: 10px;
    color: #172747;
    font-weight: 800;
    letter-spacing: 1px;
}

#btn-task-save {
    justify-self: center;
    background: #FAB500;
    letter-spacing: 1px;
    font-weight: bold;
    border-style: none;
    color: #172747;
    height: 40px;
    width: 100px;
    margin-top: 20px;
    margin-left: 80%;
    border-radius: 25px;
}

#comments-container{
    display: grid;
    grid-template-columns: 1fr;
}

.commentCreated {
    justify-self: center;
    margin-top: 5%;
    width: 500px;
    background: aliceblue;
    border-radius: 8px;
    position: relative;

}

#userName2 {
    margin-right: 65%;
    margin-top: 20px;
}


.btn-delete{
    background-color: transparent;
    border-style: none;
    border-color: transparent;
    right: 10px;
    font-size:22px;
    font-weight:500;
    margin-top: 10px;
    color: #172747;
    border-style: none;
}
.btn-delete:hover{
    color: #FAB500;
}
.btn-delete:active{
    color: #FAB500;
}
.divPost{
    margin: 15px 20px 20px 20px;
    min-height: 30px;
    text-align: left;
    font-size: 15px;
}

.errorMessage{
    color: #172747;
    font-weight: bold;
}


@media screen and (max-width: 768px){
    body{
        justify-content: center;
        align-content: center;
    }

    #container {
        min-height: none;
        margin: 0 auto;
        border-radius: 5%;
    }

    .formBox {
        text-align: center;
        background: #CAD2FF;
        width: 100%;
        height: 100%;

    }

    .formBox2 {
        text-align: center;
        background: #CAD2FF;
        width: 100%;
        height: 100%;

    }

    .form-button{
        text-align: center;
        width: 230px;
        height: 43px;
    }

}